.outer{
    margin-top: 60px;
    border-top: 1px solid black;
    padding: 200px;
}
.tf{
    border:1px solid lightgray;
    width:100%;
    box-sizing:border-box;
    border-radius: 4px;
    font-size: 10px;
    margin:5px;
    height:20px;
    width:240px;
}
button{
    margin:20px;
    text-align:center;
    border-radius: 30px;
    background-color: black;
    color:white;
    padding: 10px;
    width:220px;
}
.ph{
    margin-left: 80px;
}
.nope{
    margin-left: 60px;
    color:gray;
}
.nop{
    margin-left: 10px;
    color:gray;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
.uli{
    color:black;
}